snippet tc
	try {
	}${1} catch(e) {
		console.log(e);
	}
snippet cl
	console.log(${1});
snippet clt
	console.log(${1:this});
snippet /// Add TomDoc comment
	// Public: ${1:Explain what the method do}
	//
	// ${2:var1}  - ${3:Explain what the var done}
	// ${4:var2}  - ${5:Explain what the var done}
	//
	// Examples
	//
	//   multiplex("Tom", 4)
	//   # => "TomTomTomTom"
	//
	// Returns ${6:Explain what it return}
